#menu {
  background-image: url("/static/content/cat.PNG");
  background-repeat: no-repeat;
  background-size: 900px 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -4rem;
  margin-left: -7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.buttons button {
  background: #e9b1a8;
  width: 50%;
  padding: 0.7rem;
  margin-bottom: 1rem;
}
